<!DOCTYPE html>
<html>
<%- include('part/header') %>
<body class="container-fluid">
<header>
    <div class="container-md" style="margin-top: 11%;">

    </div>
</header>
<%- include('part/head-menu') %>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<% if (user!==null) { %>
<div class="text-center"><%- user.email %></div>
<a href="/signout">Выйти</a>
<% } %>

<%- include('part/footer') %>

</body>
</html>