<!DOCTYPE html>
<html>
<%- include('part/header') %>
<body class="container-fluid">
<header>
    <div class="container-md" style="margin-top: 11%;">

    </div>
</header>
<%- include('part/head-menu') %>

<div class="container-md students" style="margin-bottom:10px;">
 <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Найти работодателя" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
 </div>

<div class="container-md" style="">

<div class="card-group">
  <div class="card">
    <svg xmlns="https://openclipart.org/download/216996/1428616740.svg" viewBox="0 0 54 54" style="max-width: 80px;"></svg>
    <div class="card-body">
      <h5 class="card-title">Компания 1</h5>
      <p class="card-text">Описание практики в крупной компании. Описание стека технологий. Описание требованиц к соискателю</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
   <svg xmlns="https://openclipart.org/download/216996/1428616740.svg" viewBox="0 0 54 54" style="max-width: 80px;"></svg>
    <div class="card-body">
      <h5 class="card-title">Компания 2</h5>
      <p class="card-text">Описание практики в крупной компании. Описание стека технологий. Описание требованиц к соискателю</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <svg xmlns="https://openclipart.org/download/216996/1428616740.svg" viewBox="0 0 54 54" style="max-width: 80px;"></svg>
    <div class="card-body">
      <h5 class="card-title">Компания 3</h5>
      <p class="card-text">Описание практики в крупной компании. Описание стека технологий. Описание требованиц к соискателю</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<a class="btn btn-primary" href="#" role="button" style="margin-left:40%; margin-top:10px;">Больше стажировок</a>
</div>

<div class="container-md students" style="margin-bottom:10px;">
 <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Найти работодателя" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
 </div>
<div class="container-md" style="">

<div class="card-group">
  <div class="card">
    <svg xmlns="https://openclipart.org/download/216996/1428616740.svg" viewBox="0 0 54 54" style="max-width: 80px;"></svg>
    <div class="card-body">
      <h5 class="card-title">ВУЗ 1</h5>
      <p class="card-text">Описание практики в крупной компании. Описание стека технологий. Описание требованиц к соискателю</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
   <svg xmlns="https://openclipart.org/download/216996/1428616740.svg" viewBox="0 0 54 54" style="max-width: 80px;"></svg>
    <div class="card-body">
      <h5 class="card-title">ВУЗ 2</h5>
      <p class="card-text">Описание практики в крупной компании. Описание стека технологий. Описание требованиц к соискателю</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <svg xmlns="https://openclipart.org/download/216996/1428616740.svg" viewBox="0 0 54 54" style="max-width: 80px;"></svg>
    <div class="card-body">
      <h5 class="card-title">ВУЗ 3</h5>
      <p class="card-text">Описание практики в крупной компании. Описание стека технологий. Описание требованиц к соискателю</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<a class="btn btn-primary" href="#" role="button" style="margin-left:40%; margin-top:10px;">Больше стажировок</a>
</div>
</div>

<% if (user!==null) { %>
<div class="text-center"><%- user.email %></div>
<a href="/signout">Выйти</a>
<% } %>

<%- include('part/footer') %>

</body>
</html>